<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dom.project.mapper.AffiliationMapper">

    <resultMap id="AffiliationMap" type="com.dom.project.entity.Affiliation">
        <id column="affiliation_id" property="affiliationId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="display_order" property="displayOrder"/>
        <result column="created_at" property="createdAt" typeHandler="com.dom.project.config.PostgreSqlLocalDateTimeTypeHandler"/>
        <result column="updated_at" property="updatedAt" typeHandler="com.dom.project.config.PostgreSqlLocalDateTimeTypeHandler"/>
        <result column="deleted_at" property="deletedAt" typeHandler="com.dom.project.config.PostgreSqlLocalDateTimeTypeHandler"/>
    </resultMap>

    <sql id="BaseColumns">
        affiliation_id, code, name, display_order, created_at, updated_at, deleted_at
    </sql>

    <insert id="insert" parameterType="com.dom.project.entity.Affiliation">
        INSERT INTO affiliation (affiliation_id, code, name, display_order, created_at, updated_at)
        VALUES (#{affiliationId}, #{code}, #{name}, #{displayOrder}, #{createdAt}, #{updatedAt})
    </insert>

    <update id="update" parameterType="com.dom.project.entity.Affiliation">
        UPDATE affiliation
        SET code = #{code}, name = #{name}, display_order = #{displayOrder}, updated_at = #{updatedAt}
        WHERE affiliation_id = #{affiliationId} AND deleted_at IS NULL
    </update>

    <update id="logicalDelete">
        UPDATE affiliation
        SET deleted_at = #{deletedAt}, updated_at = #{deletedAt}
        WHERE affiliation_id = #{affiliationId} AND deleted_at IS NULL
    </update>

    <select id="findById" resultMap="AffiliationMap">
        SELECT <include refid="BaseColumns"/>
        FROM affiliation
        WHERE affiliation_id = #{affiliationId} AND deleted_at IS NULL
    </select>

    <select id="findByCode" resultMap="AffiliationMap">
        SELECT <include refid="BaseColumns"/>
        FROM affiliation
        WHERE code = #{code} AND deleted_at IS NULL
    </select>

    <select id="searchList" resultMap="AffiliationMap">
        SELECT <include refid="BaseColumns"/>
        FROM affiliation
        WHERE deleted_at IS NULL
        <if test="code != null and code != ''">
            AND code ILIKE CONCAT('%', #{code}, '%')
        </if>
        <if test="name != null and name != ''">
            AND name ILIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY display_order NULLS LAST, affiliation_id
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countSearch" resultType="long">
        SELECT COUNT(1)
        FROM affiliation
        WHERE deleted_at IS NULL
        <if test="code != null and code != ''">
            AND code ILIKE CONCAT('%', #{code}, '%')
        </if>
        <if test="name != null and name != ''">
            AND name ILIKE CONCAT('%', #{name}, '%')
        </if>
    </select>

    <select id="countEmployeesByAffiliationId" resultType="long">
        SELECT COUNT(1)
        FROM employee
        WHERE affiliation_id = #{affiliationId}
          AND deleted_at IS NULL
    </select>
</mapper>
