<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dom.project.mapper.OperationLogMapper">

    <resultMap id="OperationLogMap" type="com.dom.project.entity.OperationLog">
        <id column="log_id" property="logId"/>
        <result column="operation_type" property="operationType"/>
        <result column="target_table" property="targetTable"/>
        <result column="target_id" property="targetId"/>
        <result column="before_value" property="beforeValue"/>
        <result column="after_value" property="afterValue"/>
        <result column="operated_by" property="operatedBy"/>
        <result column="operated_at" property="operatedAt" typeHandler="com.dom.project.config.PostgreSqlLocalDateTimeTypeHandler"/>
    </resultMap>

    <insert id="insert" parameterType="com.dom.project.entity.OperationLog" useGeneratedKeys="true" keyProperty="logId" keyColumn="log_id">
        INSERT INTO operation_log (operation_type, target_table, target_id, before_value, after_value, operated_by, operated_at)
        VALUES (#{operationType}, #{targetTable}, #{targetId}, #{beforeValue}::jsonb, #{afterValue}::jsonb, #{operatedBy}, #{operatedAt})
    </insert>

    <select id="searchList" resultMap="OperationLogMap">
        SELECT log_id, operation_type, target_table, target_id,
               before_value::text AS before_value, after_value::text AS after_value,
               operated_by, operated_at
        FROM operation_log
        WHERE 1 = 1
        <if test="operationType != null and operationType != ''">
            AND operation_type ILIKE CONCAT('%', #{operationType}, '%')
        </if>
        <if test="operatedBy != null and operatedBy != ''">
            AND operated_by ILIKE CONCAT('%', #{operatedBy}, '%')
        </if>
        <if test="operatedAtFrom != null">
            AND operated_at &gt;= #{operatedAtFrom}::timestamp
        </if>
        <if test="operatedAtTo != null">
            AND operated_at &lt; (#{operatedAtTo}::date + INTERVAL '1 day')
        </if>
        ORDER BY operated_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countSearch" resultType="long">
        SELECT COUNT(1) FROM operation_log WHERE 1 = 1
        <if test="operationType != null and operationType != ''">
            AND operation_type ILIKE CONCAT('%', #{operationType}, '%')
        </if>
        <if test="operatedBy != null and operatedBy != ''">
            AND operated_by ILIKE CONCAT('%', #{operatedBy}, '%')
        </if>
        <if test="operatedAtFrom != null">
            AND operated_at &gt;= #{operatedAtFrom}::timestamp
        </if>
        <if test="operatedAtTo != null">
            AND operated_at &lt; (#{operatedAtTo}::date + INTERVAL '1 day')
        </if>
    </select>
</mapper>
